.montserrat18 {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif; }

.montserrat30 {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif; }

.poppins40 {
  font-size: 40px;
  font-family: 'Poppins', sans-serif; }

.poppins60 {
  font-size: 60px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold; }

.poppins80 {
  font-size: 80px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold; }

header {
  margin: 40px; }
  header a:hover {
    font-weight: bold; }

main {
  background-image: url(../img/Main_Background.svg);
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: cover;
  padding: 10px;
  height: 900px; }
  main .Intro {
    height: 600px;
    padding: 20px; }
    main .Intro .Introduction {
      margin-left: 150px;
      line-height: 5rem; }
    main .Intro .IntroductionInfo {
      margin-left: 150px;
      width: 600px; }
    main .Intro .Products {
      margin-left: 150px;
      list-style: none; }
    main .Intro .coder {
      padding-top: 30px;
      margin-left: 150px;
      width: 900px; }

footer {
  padding: 20px;
  width: 100%;
  height: 200px;
  background-color: #FFEA39; }
