.montserrat18 {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif; }

.montserrat30 {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif; }

.poppins16 {
  font-size: 16px;
  font-family: 'Poppins', sans-serif; }

.poppins18 {
  font-size: 18px;
  font-family: 'Poppins', sans-serif; }

.poppins20 {
  font-size: 20px;
  font-family: 'Poppins', sans-serif; }

.poppins30 {
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold; }

.poppins40 {
  font-size: 40px;
  font-family: 'Poppins', sans-serif; }

.poppins40b {
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold; }

.poppins60 {
  font-size: 60px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold; }

.poppins80 {
  font-size: 80px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold; }

.products {
  background-image: url(../img/Background_ProductPage.svg);
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: auto;
  height: 790px; }
  .products .sangria {
    margin-left: 15%; }
  .products .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px 20px;
    grid-auto-flow: row;
    grid-template-areas: "card1 card2 card3 card4" "card5 card6 card7 card8"; }
    .products .container .card1 {
      grid-area: card1; }
    .products .container .card2 {
      grid-area: card2; }
    .products .container .card3 {
      grid-area: card3; }
    .products .container .card4 {
      grid-area: card4; }
    .products .container .card5 {
      grid-area: card5; }
    .products .container .card6 {
      grid-area: card6; }
    .products .container .card7 {
      grid-area: card7; }
    .products .container .card8 {
      grid-area: card8; }

.about {
  background-image: url(../img/Background_AboutPage.svg);
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: auto;
  height: 790px; }
  .about .textAboutUs {
    margin-left: 25%;
    margin-right: 20%;
    text-align: justify;
    padding-top: 175px; }

header {
  margin: 40px; }
  header a:hover {
    font-weight: bold; }

.home {
  background-image: url(../img/Main_Background.svg);
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: cover;
  padding: 10px;
  height: 900px; }
  .home .Intro {
    height: 600px;
    padding: 20px; }
    .home .Intro .Introduction {
      margin-left: 150px;
      line-height: 5rem; }
    .home .Intro .IntroductionInfo {
      margin-left: 150px;
      width: 600px; }
    .home .Intro .Products {
      margin-left: 150px;
      list-style: none; }
    .home .Intro .coder {
      padding-top: 30px;
      margin-left: 150px;
      width: 900px; }

footer {
  width: 100%;
  background-color: #FFEA39;
  padding-top: 2px; }
  footer p {
    margin: 20px; }
  footer .footerwidth {
    width: 650px; }
  footer .redesSociales {
    padding: 10px;
    padding-right: 3%;
    width: 100%;
    background-color: #FFEA39; }
    footer .redesSociales ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: flex-end; }
      footer .redesSociales ul li {
        padding: 10px;
        list-style-type: none; }
