.about{
    background-image: url(../img/Background_AboutPage.svg);
    background-repeat: no-repeat;
    background-attachment: local;
    background-size:auto;
    height: 790px;
    .textAboutUs{
        margin-left: 25%;
        margin-right: 20%;;
        text-align: justify;
        padding-top: 175px;
        }
    }
