.montserrat18 {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
.montserrat30 {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.poppins16 {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
.poppins18 {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}
.poppins20 {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.poppins20b {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.poppins30 {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.poppins30blue {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #505CFC;
}

.poppins40 {
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}

.poppins40b {
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: black;
}

.poppins60 {
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.poppins80 {
    font-size: 80px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
