.products{
    background-image: url(../img/Background_ProductPage.svg);
    background-repeat: no-repeat;
    background-attachment: local;
    background-size:auto;
    height: 790px;
    .sangria{
        margin-left: 15%;
    }
    }