
.products{
    background-image: url(../img/Background_ProductPage.svg);
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
    height: 790px;
    }
    .sangria{
        margin-left: 15%;
    }
    .searchBar{
        margin-left: 25%;
    }
    .container{
        margin-top: 50px;
        margin-left: 6%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 60px 20px;
        grid-auto-flow: row;
        grid-template-areas:
        "card1 card2 card3 card4"
        "card5 card6 card7 card8";
            .card{
                text-align: center;;
                padding: 25px;
                width: 238px;
                height: 268px;
                background-color: #D9D9D9;
                border: 1px solid #D9D9D9;
                border-radius: 20%;
                .emoji{
                    font-size: 50px;
                }
            }
        }        