

.products{
    background-image: url(../img/Background_ProductPage.svg);
    background-repeat: no-repeat;
    background-attachment: local;
    background-size:auto;
    height: 790px;
    .sangria{
        margin-left: 15%;
    }
    .container{
        margin-top: 50px;
        margin-left: 6%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 100px 20px;
        grid-auto-flow: row;
        grid-template-areas:
        "card1 card2 card3 card4"
        "card5 card6 card7 card8";
            .card1{
                grid-area: card1;
                text-align: center;;
                padding: 25px;
                width: 238px;
                height: 268px;
                background-color: #D9D9D9;
                border: 1px solid #D9D9D9;
                border-radius: 20%;
            }
            .card2{
                grid-area: card2;
                text-align: center;
                padding: 25px;
                width: 238px;
                height: 268px;
                background-color: #D9D9D9;
                border: 1px solid #D9D9D9;
                border-radius: 20%;
            }
            .card3{
                grid-area: card3;
                text-align: center;
                padding: 25px;
                width: 238px;
                height: 268px;
                background-color: #D9D9D9;
                border: 1px solid #D9D9D9;
                border-radius: 20%;
            }
            .card4{
                grid-area: card4;
                text-align: center;
                padding: 25px;
                width: 238px;
                height: 268px;
                background-color: #D9D9D9;
                border: 1px solid #D9D9D9;
                border-radius: 20%;
            }
            .card5{
                grid-area: card5;
                text-align: center;
                padding: 25px;
                width: 238px;
                height: 268px;
                background-color: #D9D9D9;
                border: 1px solid #D9D9D9;
                border-radius: 20%;
            }
            .card6{
                grid-area: card6;
                text-align: center;
                padding: 25px;
                width: 238px;
                height: 268px;
                background-color: #D9D9D9;
                border: 1px solid #D9D9D9;
                border-radius: 20%;
            }
            .card7{
                grid-area: card7;
                text-align: center;
                padding: 25px;
                width: 238px;
                height: 268px;
                background-color: #D9D9D9;
                border: 1px solid #D9D9D9;
                border-radius: 20%;
            }
            .card8{
                grid-area: card8;
                text-align: center;
                padding: 25px;
                width: 238px;
                height: 268px;
                background-color: #D9D9D9;
                border: 1px solid #D9D9D9;
                border-radius: 20%;
            }
    }
}