.mainBag{
    background-image: url(../img/Bag_BG.svg);
    background-repeat: no-repeat;
    background-attachment: local;
    background-size:auto;
}

.shoppingBagHeader{
    height: 150px;
    .sangria{
        margin-left: 15%;
    }
}

.shoppingBagItems{
    height: 300px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

.shoppingBagInfo{
    width: 850px;
    height: 250px;
    padding-right: 60px;;
    margin-left: 20%;
    margin-right: 20%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "emojiShoppingBag parrafoShoppingBag parrafoShoppingBag";
    .emojiShoppingBag{
        grid-area: emojiShoppingBag;
        align-self: center;
        justify-self: center;;
    }
    .parrafoShoppingBag{
        grid-area: parrafoShoppingBag;
        text-align: justify;
        align-self: center;
        justify-self: center;
    }

}