.form{
    background-image: url(../img/Form_BG.svg);
    background-repeat: no-repeat;
    background-size: auto;
    height: 405px;
    padding: 10px;
    .formInside{
        margin-left: 25%;
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
    }
}