@import"fonts";
@import"products";
@import"about";
@import"shoppingBag";
@import"form";


header{
    margin: 40px;
    a:hover{
        font-weight: bold;
    }
}

.home{
    background-image: url(../img/Main_Background.svg);
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
    padding: 10px;
    height: 600px;
    .Intro{
    height: 600px;
    padding: 20px;
        .Introduction{
        margin-left: 150px;
        line-height: 5rem;
        }
        .IntroductionInfo{
        margin-left: 150px;
        width: 600px;
        }
        .Products{
        margin-left: 150px;
        list-style: none;
        }
        .coder{
        padding-top: 30px;
        margin-left: 150px;
        width: 600px;
        }
        .contact{
        padding-top: 20px;
        margin-left: 140px;  
        }
    }
}

footer{
    width: 100%;
    background-color: #FFEA39;
    padding-top: 2px;
    p{
        margin: 20px;
    }
    .footerwidth{
        width: 650px;
    }
    .redesSociales{
        padding: 10px;
        padding-right: 3%;
        width: 100%;
        background-color: #FFEA39;
        ul{
           display: flex;
           flex-direction: row;
           justify-content: flex-end;
           align-items: flex-end;
           li{
            padding: 10px;
            list-style-type: none;
           };
        }
    }
}
